<!DOCTYPE html>
<html>
<head>
    <title>{{ lab.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{ lab.css | raw }}
    </style>
</head>
<body>
{{ lab.html | raw }}
<script type="text/javascript">
    {{ lab.js | raw }}
</script>
</body>
</html>
